<div class="card ship">
    <div class="card-header d-none">
        {{ship.name}}
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {{ship.name}}
        </h5>
    </div>
    <a (click)="openModal(modal)" class="stretched-link"></a>
    <img [src]="shipImageUrl" class="card-img-bottom" src-fallback="{{imageFallback}}"/>
</div>

<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{ship.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <img [src]="shipImageUrl" class="card-img-bottom" src-fallback="{{imageFallback}}"/>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c()">Volver al listado</button>
    </div>
</ng-template>
